

<div class="jumbotron">
  <h1>Welcome to Buyzaar</h1>
  <p>People come here to shop and blow up their payday! </p>
  <img src="<%= image_path('logo.png') %>" height="300" width="1200" />

  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>

</div>
